.mat-card {
    background: transparent;
    box-shadow: none;
    width: 70%;
}
.full-width{
    width: 100%;
}

.top-padding{
    padding-top: 3px;
}

.margin-left mat-radio-button:not(:first-child){
    margin-left:10px;
}

.form-container{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    height: 100%;
}