

<div class="site-wrap">
    <div class="panel light-theme" data-x-pos="0"  data-y-pos="0">


        <nav class="menu">
            <a class="panel__nav panel__nav--up js-up" routerLinkActive="active" routerLink="/about">ABOUT</a>
            <a class="panel__nav panel__nav--left js-left" routerLinkActive="active" routerLink="/slills">SKILLS</a>
            <a class="panel__nav panel__nav--right js-right" routerLinkActive="active" routerLink="/works">WORKS</a>
            <a class="panel__nav panel__nav--down js-down" routerLinkActive="active" routerLink="/contacts">CONTACTS</a>
            <a class="panel__nav panel__nav--center panel__zoom js-zoom" routerLinkActive="active" routerLink="/main">Main</a>

            <!-- <span class="panel__zoom js-zoom">View All</span> -->
        </nav>
        
        <router-outlet></router-outlet>

        <button class="theme-btn">Switch to <span class="theme-type">Light</span> Theme</button>
    
    
        <!-- <div class="panel-wrap animate--tilt">
            <div class="panel" data-x-pos="0"  data-y-pos="1">
                <span class="panel__nav panel__nav--left js-down js-left">SKILLS</span>
                <span class="panel__nav panel__nav--right js-down js-right">WORKS</span>
                <span class="panel__nav panel__nav--down js-down">Main</span>
                <span class="panel__zoom js-zoom">View All</span>
                <h1>ABOUT</h1>
            </div>
            <div class="panel" data-x-pos="-1"  data-y-pos="0">
                <span class="panel__nav panel__nav--up js-right js-up">ABOUT</span>
                <span class="panel__nav panel__nav--right js-right">WORKS</span>
                <span class="panel__nav panel__nav--down js-right js-down">CONTACTS</span>
                <span class="panel__zoom js-zoom">View All</span>
                <h1>SKILLS</h1>
            </div>
            <div class="panel" data-x-pos="1"  data-y-pos="0">
                <span class="panel__nav panel__nav--up js-left js-up">ABOUT</span>
                <span class="panel__nav panel__nav--left js-left">SKILLS</span>
                <span class="panel__nav panel__nav--down js-left js-down">CONTACTS</span>
                <span class="panel__zoom js-zoom">View All</span>
                <h1>WORKS</h1>
          
            </div>
            <div class="panel" data-x-pos="0"  data-y-pos="-1">
                <span class="panel__nav panel__nav--up js-up">Main</span>
                <span class="panel__nav panel__nav--left js-up js-left">SKILLS</span>
                <span class="panel__nav panel__nav--right js-up js-right">WORKS</span>
                <span class="panel__zoom js-zoom">View All</span>
                <h1>CONTACTS</h1>
            </div>
        </div> -->
    
    </div>
</div>
